.player-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  button {
    margin: 0;
    padding: 10px 15px;
    background-color: lightgray;
    color: black;
    box-shadow: 
    inset 0px 5px 0px 0px grey,
    inset 0px -5px 0px 0px white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Orbitron', sans-serif;

    &:disabled {
      background-color: #cccccc;
      cursor: default;
    }
  }
}